{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .them1 {
color:#fff !important;background-color:#85725b !important}
@font-face {
    font-family: 'font';
    src: url("../static/fonts/a.woff2") format("woff");
}
body{
    font-family: font;
    font-size: 25px;
    background-color: #85725b;
}
</style>
<body>
<header class="w3-display-container w3-content w3-wide" style="max-width:500px;" id="home">
  <img class="w3-image" src="{% static "image/a18.jpg" %}" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>

 <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">راه های ارتباطی :</h3>
     <p><br>درود بر هنر دوستان و علاقمندان به خوشنویسی امید دلارام هستم دانشجوی مهندسی کامپیوتر و هنرجوی خوشنویسی با خودکار.
     این سایت رو برای علاقمندان به این رشته ی هنری طراحی کردیم که امید وارم برای شما عزیزان مفید واقع بشه .
     </p>
    <p>راه های ارتباط با من :</p>
    <p>شماره موبایل :09390812001</p>
     <p>   پیج ایستاگرام : omid_delaram</p>
     <p>تلگرام : https://t.me/delaram_omid</p>
  </div>

</body>
</html>